# RAZORPAY
RAZORPAY_KEY_ID=rzp_test_yourkeyid
RAZORPAY_KEY_SECRET=your_test_key_secret

# DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

# EMAIL AUTOMATION (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=0000
SMTP_SECURE=false
SMTP_USER=your@mail.com
SMTP_PASSWORD=some pass word here
SMTP_FROM=noreply@mail.com
